<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sunanda Ladha</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link black-text" aria-current="page" href="/" id="home">Home</a>
                <a class="nav-link black-text" href="/about" id="about">About</a>
                <a class="nav-link black-text" href="/coaching" id="coaching">Coaching</a>
                <a class="nav-link black-text" href="/contact" id="contact">Contact</a>
                <a class="nav-link black-text" href="/get-started" id="getStarted">Get Started</a>
            </div>
        </div>
    </div>
</nav>