<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">My clients love me! They enrolled in my coaching programs and reccomend my coaching
                to all!
                Read what they have to say below.</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Sunanda is an exceptional coach. Taking her coaching was one of the
                        best decisions I could have made. Throughout the
                        entire course she showed enthusiasm, patience, and was very sharp which
                        made a huge difference especially when helping me build my resume. Thank
                        you Sunanda!</p>
                </div>
                <div class="author"><img class="rounded-circle"
                        src="https://uifaces.co/our-content/donated/6MWH9Xi_.jpg">
                    <h5 class="name">Balaraman Mani</h5>
                    <p class="title">Uber Employee</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">I came into Sunanda's course looking to get back into work after nearly
                        a decade off with my children, and by the end of her coaching I felt
                        very
                        confident about my abilities. Sunanda guided me thouroughly the entire
                        way, and I was
                        blessed to have her as my coach. I 100% reccomend her!</p>
                </div>
                <div class="author"><img class="rounded-circle"
                        src="http://asamnews.com/wp-content/uploads/2019/02/thispersondoesnotexist.com_.jpg">
                    <h5 class="name">Kundana Palagiri</h5>
                    <p class="title">Microsoft Employee</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <p class="description">Sunanda is a very skilled coach and truly helped all of my needs. I came
                        into
                        her coaching feeling very stuck in my job, and I was not very passionate
                        but
                        after Sunanda's coaching I left feeling
                        very
                        confident with a clear goal in mind. I would reccomend Sunanda's
                        coaching to
                        everyone!</p>
                </div>
                <div class="author"><img class="rounded-circle" src="/imgs/person3.PNG">
                    <h5 class="name">Raghu Malpani</h5>
                    <p class="title">Facebook Employee</p>
                </div>
            </div>
        </div>
    </div>
</div>